@model IEnumerable<PolishGamesRanking.Models.User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Użytkownicy</h2>
@if (!Model.Any())
{
    <p>No users yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Użytkownicy</th>
                <th>Nick</th>
                <th>Dodane gry</th>
                <th>Ocenione gdy</th>
            </tr>
        </thead>
        <tbody>
        
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.ActionLink(user.FirstName + user.LastName, "Edit", "User", new {id = user.Id}, null)</td>
                <td>@user.Nick</td>
                <td>@user.GamesAdded</td>
                <td>@user.GamesRated</td>
            </tr>
        }
        </tbody>
    </table>
}

