
.icon-star:before { content: '\e800'; } /* '' */
.icon-googleplay:before { content: '\e801'; } /* '' */
.icon-appstore:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */