.portfolio_content {
	margin-top: 70px;
	color: rgba(188, 182, 182, 1);
}

.portfolio_content img {
	max-width: 100%;
	height:auto;
}

figure{
	overflow: hidden;
	position: relative;
	vertical-align: top;
	/*border: 5px solid #fff;*/
	/*box-shadow: 0 0 5px #ddd;*/
  
	margin: 0;
}

figcaption{
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	padding-top: 150px;
  
	text-align: center;
	width: 100%;
	height: 100%;
  
	font-family: 'Roboto', 'Lato', sans-serif;
	color: #fff;
}

figcaption div{
	font-weight: bold;
	position: relative;
	top: 10px;
	
	opacity: 0;
	color: #fff;
	text-transform: uppercase;
	
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;	
}

figcaption div div{
	padding-top: 5px;
	font-size: 10px;
	color: #51be9c;
}

figcaption div:after{
	position: absolute;
	content: "";
	left: 0; right: 0;
	bottom: 0%;
	text-align: center;
	margin: auto;
	width: 0%;
	height: 0px;
	background: #2c3e50;
}

figure img{
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

figure:hover figcaption{
	background: rgba(0,0,0,0.1);
}

figcaption:hover div{
	opacity: 1;
	top: 0;
}

figcaption:hover div:after{
	width: 35%;
}

figure:hover img{
	-webkit-transform: scale3d(1.2, 1.2, 1);
	transform: scale3d(1.2, 1.2, 1);
}